.nav{
    display:flex;
    flex-direction:row;
    justify-content:space-evenly;
    align-items:center;
    background-color:darksalmon;
    height:50px;
}
.nav a{
    color:black;
    text-decoration:none;
}
#body-header{
    height:65vh;
    background-image:url(pahar.jpeg);
    background-size:cover;
    background-position:center;
}

#my-name{
    margin-top:20vh;
    font-size:3rem;
    letter-spacing:0.1rem;
    color:black;
    font-weight:700;
    margin-bottom:0.5rem;
    text-align:center;
    font-family:'Times New Roman', Times, serif;
}
#block{
    width:100%;
    height:26vh;
    display:flex;
    flex-direction:column;
    align-items:center;
}
#block p{
    color:black;
    font-family:'Times New Roman', Times, serif;
    font-style:italic;
    text-align:center;
}
#my-image{
    height:12rem;
    width:12rem;
    margin-top:-20vh;
}
#my-image img{
    height:100%;
    width:100%;
    border-radius:50%;
    margin-left:30%;
    border-color:black;
    border:size 100px;
}

.card{
    margin: 10px;
    padding: 5px;
    border: 1px double #3D8361;
    background-color:rgb(105, 149, 185);
}
.card p{
    font-size:large;
    color:white;
}
.card ul{
    color:white;
    font-size:large;
}
.card:hover{
    background-color:rgb(72, 119, 207);
    color:lightblue;
}

.row{
    margin: 0 auto;
    max-width: 1300px; 
    text-align: center;
}
.project{
    border-width: 5px;
    margin: 10px;
    padding: 5px;
    display:flex;
    flex-direction:column;
    
}
.project img{
    width: 30.5%;
    height: 240px;
}
.project a :hover{
    box-shadow:2px 2px 2px 2px rgb(231, 73, 99);
}
.about{
    color:black;
    font-size:large;
}
.btn {
    background-color: DodgerBlue;
    border: none;
    color: white;
    padding: 12px 30px;
    cursor: pointer;
    font-size: 20px;
}
.btn:hover {
    background-color: RoyalBlue;
}
a{
    text-decoration: double;
    color: white
}
a:visited{
    color: #33057c;
    font-style: italic;
}
a:hover{
    color:lightblue;
}
a:active{
    font-size:15px;
}

